/* Genel Ayarlar */
body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/Real-Background.jpg');  
    background-size: cover;
    background-position: center;
}

/* Giriş kutusu arkası*/
.container
{
    position: relative;
    width:100% ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.arkadakikutu
{
    /*olculeri esit tut login sayfasi ile*/
    border-style: solid;
    border-color:#000000;
    position: absolute;
    width:85%;
    height:85%;
    background-image: url('images/signupback.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Kayıt Kutusu */
.signup-container
 {
    background: rgba(0, 0, 0, 0.8); /* Koyu şeffaf arka plan */
    color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7); /* Hafif gölge */
    text-align: center;
}
/*
denedik olmadı. (çok yer kaplıyor, fotoğrafa yer kalması gerekli !!!!Doga degistirme!!!)
.signup-container h1 
{
    font-size: 30px;
    margin-bottom: 10px;
    color: #ffffff;
} */


.signup-container p /*Kucuk infolar icin gerekli olabilir*/
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}


.signup-container form /* Form Stili */
{
    display: flex;
    flex-direction: column;
}

.signup-container label /* form ustundeki yazilar icin*/
{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    color: #ffffff;
}

.signup-container input 
{
    padding: 10px;
    margin-bottom: 20px;
    border:1px solid;
    border-radius: 5px;
    font-size: 10px;
}

.signup-container input:focus 
{
    outline: 2px solid #000000;
    background-color: #fff;
}

.signup-container button 
{
    background-color: #8e79e3;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-container button:hover 
{
    background-color: #6f5dc1; /* Hover efekti */
    transform: translateY(-2px);
}

/* Giriş Yönlendirme */
.login-redirect 
{
    margin-top: 10px;
    font-size: 14px;
}

.login-redirect a
 {
    color: #8e79e3;
    text-decoration: none;
    font-weight: bold;
}

.login-redirect a:hover 
{
    text-decoration: underline;
}

/* alt bar yine aynı tasarım ama daha küçük bir html kullanacağız. ekranın farklı olmasını istiyoruz.*/
.footer 
{
    background-color: #333;  
    color: #ffffff;  
    padding: 0;
    font-size: 14px;
}
.footer-bottom 
{
    color:#fff;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444; /* İnce bir üst çizgi */
    padding-top: 10px;
}

.footer-link
{
    text-decoration: none;
    color:#fff;
    text-align: center;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-link a:hover 
{
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
}
.footer-link a 
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 10px;
    transition: color 0.3s ease, font-size 0.3s ease;
}




 
 
